.instagram__block {
  margin-bottom: 80px;
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    h5 {
      letter-spacing: 1.5px;
      padding: 0 15px;
      font-size: 16px;
      text-transform: uppercase;
    }
    .line {
      width: 100%;
      height: 1px;
      background-color: $black;
    }
  }
  .handle {
    margin-bottom: 25px;
    text-align: center;
    a {
      font-size: 16px;
      letter-spacing: 1px;
      color: $black;
      text-decoration: none;
    }
  }
  .instagram__block-images {
    .col-lg-3 {
      margin-bottom: 15px;
      padding: 0 8px !important;
    }
    .row {
      padding: 0 8px;
    }
    .col-lg-3:nth-child(4),
    .col-lg-3:nth-child(5),
    .col-lg-3:nth-child(6),
    .col-lg-3:nth-child(7) {
      margin-bottom: 15px !important;
    }
  }
  .instagram__block-btn {
    text-align: right;
    margin-top: 5px;
    a {
      font-size: 14px;
      color: $black;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-decoration: none;
      svg {
        font-size: 18px;
        position: relative;
        top: -1px;
        margin-left: 3px;
      }
    }
  }
}
.footer {
  background-color: $black;
  color: $white;
  padding: 25px 0;
  .footer__logo {
    text-align: center;
    a {
      color: $white;
      text-decoration: none;
      h1 {
        font-size: 24px;
        color: $white;
        text-transform: uppercase;
        margin-bottom: 8px;
        letter-spacing: 3px;
      }
    }
  }
  ul {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    @media (max-width: 575px) {
      flex-direction: column;
      align-items: center;
    }
    li {
      margin: 0 8px;
      @media (max-width: 575px) {
        margin: 8px 0;
      }
      a {
        color: $white;
        text-decoration: none;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        transition: 0.3s ease;
        &:hover {
          border-bottom: 1px solid $white;
        }
      }
      a.active {
        border-bottom: 1px solid $white;
      }
    }
    li:first-child {
      margin-left: 0;
    }
  }
  .copyright {
    text-align: center;
    // padding: 15px 0;
    opacity: 0.5;
    p {
      font-size: 10px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      a {
        font-size: 10px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: $white;
        text-decoration: none;
        transition: 0.3s ease;
        &:hover {
          border-bottom: 1px solid $white;
        }
      }
    }
  }
}
