#header {
  transition: 0.3s ease;
}

#header.sticky {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  background-color: $black;
  z-index: 9;
  padding: 15px 0;
  .header__mobile-toggle {
    button {
      .menu-bar {
        width: 30px;
        height: 3px;
        background-color: $white;
      }
    }
    @media (max-width: 991px) {
      display: block;
      flex: unset;
    }
  }
  .mobile__menu {
    top: 58px;
  }
  nav {
    ul {
      li {
        a {
          color: $white;
          &:hover {
            border-bottom: 1px solid $white;
          }
        }
        a.active {
          border-bottom: 1px solid $white;
        }
      }
    }
  }
  .header__logo {
    a {
      color: $white;
      h1 {
        font-size: 24px;
      }
    }
  }
  .header__mobile-toggle {
    &:hover {
      cursor: pointer;
    }
    svg {
      color: $white;
    }
  }
}

.header {
  padding: 25px 0;
  margin-bottom: 40px;
  @media (max-width: 575px) {
    margin-bottom: 20px;
  }
  position: relative;
  z-index: 9;
  .mobile__menu {
    position: absolute;
    width: 100%;
    background-color: $white;
    height: 100vh;
    z-index: 9;
    top: 78px;
    padding: 15px;
    left: 100%;
    ul {
      text-align: center;
      margin-top: 40px;
      li {
        margin: 16px 0;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        ul {
          margin: 0;
          display: flex;
          justify-content: center;
          li {
            margin: 0 16px;
            svg {
              font-size: 14px;
            }
          }
        }
        a {
          color: $black;
          text-decoration: none;
          font-size: 20px;
        }
        a.active {
          border-bottom: 1px solid $black;
        }
      }
    }
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__nav-left {
      ul {
        justify-content: flex-start;
      }
      @media (max-width: 991px) {
        display: none;
      }
      flex: 1;
      li:first-child {
        margin-left: 0;
      }
      li:last-child {
        margin-right: 0;
      }
    }
    .header__nav-right {
      @media (max-width: 991px) {
        display: none;
      }
      flex: 1;
      ul {
        position: relative;
        right: 0;
        li:last-child {
          margin-right: 0;
        }
      }
    }
    nav {
      ul {
        display: flex;
        justify-content: flex-end;
        li {
          margin: 0 8px;
          a {
            color: $black;
            font-size: 13px;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-decoration: none;
            transition: 0.3s ease;
            display: inline-block;
            &:hover {
              border-bottom: 1px solid $black;
            }
          }
          a.active {
            border-bottom: 1px solid $black;
          }
        }
      }
    }
    .header__logo {
      flex: 1;
      text-align: center;
      text-transform: uppercase;

      @media (max-width: 991px) {
        flex: unset;
        text-align: left;
      }
      a {
        text-decoration: none;
        color: $black;
        h1 {
          font-size: 34px;
          letter-spacing: 3px;
          transition: 0.3s ease;
          @media (max-width: 991px) {
            font-size: 24px;
          }
        }
      }
    }
    .header__mobile-toggle {
      display: none;
      flex: 1;
      text-align: right;
      button {
        background-color: transparent;
        border: none;
        display: flex;
        flex-direction: column;
        z-index: 999;
        &:focus {
          outline: none;
        }
        &:hover {
          cursor: pointer;
        }
        .menu-bar {
          width: 30px;
          height: 3px;
          background-color: $black;
        }
        .menu-bar:nth-child(1),
        .menu-bar:nth-child(2) {
          margin-bottom: 5px;
        }
      }
      @media (max-width: 991px) {
        display: block;
        flex: unset;
      }
    }
  }
}
