.pager {
  margin-bottom: 60px;
  display: flex;
  justify-content: flex-end;
  .prev {
    flex: 1;
  }
  .prev,
  .next {
    a {
      font-size: 14px;
      color: $black;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-decoration: none;
      svg {
        font-size: 18px;
        position: relative;
        top: -1px;
        margin-left: 3px;
      }
    }
  }
}
