.socials__container {
  margin-top: 54px;
  .title {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
    margin-bottom: 8px;
    font-size: 14px;
  }

  .instagram,
  .facebook,
  .pinterest,
  .tumblr,
  .twitter {
    margin-bottom: 8px;
    display: block;
    border: 1px solid $black;
    color: $black;
    padding: 8px;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s ease;
    letter-spacing: 1.5px;
    &:hover {
      color: $white;
      background-color: $black;
    }
    svg {
      position: relative;
      top: -1px;
      margin-right: 5px;
    }
    span {
      text-transform: uppercase;
    }
  }
  .tumblr {
    margin-bottom: 0;
  }
}
