.socials__container {
  border: 5px solid $black;
  padding: 30px;
  transition: 0.3s ease;

  @media (max-width: 1024px) {
    padding: 20px 15px;
  }

  .socials__title {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
    margin-bottom: 25px;
    color: darkgrey;
  }

  .socials__list {
    display: flex;
    justify-content: center;
    li {
      margin: 0 10px;
      transition: 0.3s ease;
      @media (max-width: 1024px) {
        margin: 0 8px;
      }
      a {
        color: $black;
        svg {
          font-size: 24px;
          transition: 0.3s ease;
          @media (max-width: 1024px) {
            font-size: 20px;
          }
        }
      }
    }
  }
}
