.home__articles {
  .featured__article {
    .featured__article-image {
      width: 100%;
      height: 600px;
      background-size: cover !important;
      background-position: center !important;
    }
  }
}
